SECRET_KEY_BASE=FIXME
DATABASE_URL=postgres://user:password@localhost/nara_ugfa_dev
PORT=8080
NARA_CATALOG_API_URL="https://catalog.archives.gov/api/v1"
RAILS_LOG_TO_STDOUT=true
EXPECTED_HOSTNAME="http://localhost"